{% extends "layout.html" %}

    
{% block body %}

<div class="container">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">Login</h1>
    <form method="POST" action="{{ url_for('login') }}">
      <div class="input-container">
        <input type="text" name="userid" id="#{label}" required="required"/>
        <label for="#{label}">Username</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="password" name="pass" id="#{label}" required="required"/>
        <label for="#{label}">Password</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button type="submit"><span>Go</span></button>
      </div>
      <div class="footer"><a href="#">Forgot your password?</a></div>
    </form>
    <br>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <strong>{{ message }}</strong>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>

  <div class="card alt">
    <div class="toggle"></div>
    <h1 class="title">Register
      <div class="close"></div>
    </h1>
    <form method="POST" action="{{ url_for('register') }}">
      <div class="input-container">
        <input type="text" name="userID" required="required"/>
        <label for="#{label}">Username</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="password" name="pass" required="required"/>
        <label for="#{label}">Password</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button type="submit"><span>Register</span></button>
      </div>

    </form>

  </div>
</div>
<!-- <div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method="POST" action="{{ url_for('login') }}">
                <div class="form-group">
                    <label for="exampleInputID">User ID</label>
                    <input type="text" class="form-control" name="userid" placeholder="Userid" required="">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="pass" placeholder="Password" required="">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Log In</button>
            </form>
            <br>
            <div>
                Don't have an account? <a href="{{ url_for('registerScreen') }}">Sign up here</a>.
            </div>
        </div>
    </div>
</div> -->

{% endblock %}