{% extends "layout.html" %}

{% block head %}
	<style>
		div#test{ border:#000 1px solid; padding:10px 40px 40px 40px; }
	</style>
{% endblock %}


{% block body %}

	<h1>SUBJECTS</h1>
	<li><a href="#">General</a></li>
	{% for sub in subjects %}
		<ul><strong></strong><a href="/chosenSemester/{{ sem }}/{{ sub }}">{{sub}}</a><br></ul>
	{% endfor %}

	{% if chosenSubject %}
		<center>{{ chosenSubject }}</center>
		<form action="/submit/{{ sem }}/{{ chosenSubject }}" method="POST">
		{% for que in Question %}
			<ul><strong></strong>{{que[0]}}<br></ul>
			<p>
		      <input name="choice" type="radio" id="{{que[1]}}" value="{{que[1]}}" />
		      <label for="{{que[1]}}">{{ que[1] }}</label>
		    </p>
		    <p>
		      <input name="choice" type="radio" id="{{que[2]}}" value="{{que[2]}}" />
		      <label for="{{que[2]}}">{{ que[2] }}</label>
		    </p>
		    <p>
		      <input name="choice" type="radio" id="{{que[3]}}"  value="{{que[3]}}" />
		      <label for="{{que[3]}}">{{ que[3] }}</label>
		    </p>

		{% endfor %}
			<input class="waves-effect waves-light btn" name="action" type="submit" value="SUBMIT" />
			<center>Your score is {{score}}</center>
		</form> 
    
	{% else %}
		<center>No subject selected</center>
	{% endif %}

	
	
	
	<!-- <script>
		var pos = 0, test, test_status, question, choice, choices, chA, chB, chC, correct = 0;
		var questions = {{ Question }};

		function _(x){
			return document.getElementById(x);
		}
		function renderQuestion(){
			test = _("test");
			if(pos >= questions.length){
				test.innerHTML = "<h2>You got "+correct+" of "+questions.length+" questions correct</h2>";
				_("test_status").innerHTML = "Test Completed";
				pos = 0;
				correct = 0;
				return false;
			}
			_("test_status").innerHTML = "Question "+(pos+1)+" of "+questions.length;
			question = questions[0];
			chA = questions[1];
			chB = questions[2];
			chC = questions[3];
			test.innerHTML = "<h3>"+question+"</h3>";
			test.innerHTML += "<input type='radio' name='choices' value='A'> "+chA+"<br>";
			test.innerHTML += "<input type='radio' name='choices' value='B'> "+chB+"<br>";
			test.innerHTML += "<input type='radio' name='choices' value='C'> "+chC+"<br><br>";
			test.innerHTML += "<button onclick='checkAnswer()'>Submit Answer</button>";
		}
		function checkAnswer(){
			choices = document.getElementsByName("choices");
			for(var i=0; i<choices.length; i++){
				if(choices[i].checked){
					choice = choices[i].value;
				}
			}
			if(choice == questions[pos][4]){
				correct++;
			}
			pos++;
			renderQuestion();
		}
		window.addEventListener("load", renderQuestion, false);
	</script>

	<h2 id="test_status"></h2>
	<div id="test"></div> -->

{% endblock %}
